---
import { getSinglePage } from "@/lib/contentParser.astro";
import { render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Prose from "@/components/Prose.astro";
import Carousel from "@/components/Carousel.astro";

export async function getStaticPaths() {
    const pages = await getSinglePage("projects");

    const paths = pages.map((page) => ({
        params: { id: page.id },
        props: { page },
    }));

    return paths;
}

const { page } = Astro.props;
const { title, images, program } = page.data;
const { Content } = await render(page);
---

<Layout>
    <Prose>
        <h1 class="mb-2">{title}</h1>
        <p class="my-0!">{program}</p>
        {
            images.length > 1 ? (
                <Carousel images={images} />
            ) : (
                <div>
                    <img src={images[0].src} alt={title} class="w-full object-cover mb-0" />
                    {images[0].description && <p class="mt-1">{images[0].description}</p>}
                </div>
            )
        }
        <Content />
    </Prose>
</Layout>
