---
import { getSinglePage } from "@/lib/contentParser.astro";
import { render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Prose from "@/components/Prose.astro";
import Category from "@/components/Category.astro";
import Carousel from "@/components/Carousel.astro";

export async function getStaticPaths() {
    const pages = await getSinglePage("annex");

    const paths = pages.map((page) => ({
        params: { id: page.id },
        props: { page },
    }));

    return paths;
}

const { page } = Astro.props;
const { title, images, category } = page.data;
const { Content } = await render(page);
---

<Layout>
    <Prose>
        <div class="flex justify-between items-center">
            <h1>{title}</h1>
            <Category {category} />
        </div>
        {images.length > 1 ? <Carousel images={images} /> : <img src={images[0]} alt={title} class="w-full object-cover" />}
        <Content />
    </Prose>
</Layout>
